.main {
  width: 70%;
  margin: auto;
  text-align: center;
}

.names-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.input {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.favourites {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 2px solid lightgray;
}

.title {
  font-size: large;
  color: lightgray;
}

.name-label {
  cursor: pointer;
  display: inline-block;
  padding: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.name-label:hover {
  background-color: azure;
  color: brown;
}

.boy-name {
  background-color: lightblue;
  color: darkblue;
}

.girl-name {
  background-color: pink;
  color: darkorchid;
}
